@model Joker.BackOffice.ViewModels.Shared.HeaderComponentViewModel

@{
    var activeTitle = Model?.Headers.FirstOrDefault(x => x.IsActive)?.Title;
}

@if (Model != null)
{
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">@activeTitle</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index">
                                        <i class="fas fa-home"></i>
                                    </a>
                                </li>
                                @foreach (var breadCrumb in Model.Headers.Where(x => !x.IsActive))
                                {
                                    <li class="breadcrumb-item">
                                        <a href="@breadCrumb.Link">@breadCrumb.Title</a>
                                    </li>
                                }
                                <li class="breadcrumb-item active" aria-current="page">@activeTitle</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
}