@model List<Joker.WebApp.ViewModels.Favorite.FavoriteStoreViewModel>
@{
    ViewData["Title"] = "My Stores";
    Layout = "_Layout";
}

<div class="row mt-5">
    <div class="col-lg-4">
        @await Html.PartialAsync("_AccountNav");
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-4 mt-4">
                    <h6 class="text-gradient text-primary">My Favorite Stores</h6>
                </div>
            </div>
        </div>

        <hr>
        @if (Model.Any())
        {
            <div class="row">
                <div class="row justify-content-center">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                                </tr>
                                </thead>
                                <tbody>

                                @foreach (var favoriteCampaign in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <a asp-controller="Store" asp-action="Explore" asp-route-id="@favoriteCampaign.Store.Id">
                                                    <h6 class="mb-0 text-xs">@favoriteCampaign.Store.Name</h6>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>
        }
        else
        {
            <div class="text-center bg-light p-5">
                There is no favorite stores.
            </div>
        }
    </div>
</div>