<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-dark z-index-3 py-3">
        <div class="container">
            <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                Joker
            </a>
            <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                <ul class="navbar-nav navbar-nav-hover mx-auto">
                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" asp-controller="Home" asp-action="Index" role="button">
                            Explore
                        </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" asp-controller="Subscription" asp-action="Index" role="button">
                            Become a Merchant
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button">
                            Account
                        </a>
                    </li>

                    <li class="nav-item dropdown dropdown-hover mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button">
                            Logout
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav d-lg-block d-none">
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com/product/soft-ui-design-system-pro#pricingCard" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1" role="button">Publish a Campaign</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>