@using Joker.BackOffice.Extensions
@model List<Joker.BackOffice.ViewModels.Notification.UserNotificationViewModel>

<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="ni ni-bell-55"></i>
</a>
<div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
    <!-- Dropdown header -->
    <div class="px-3 py-3">
        <h6 class="text-sm text-muted m-0">You have <strong class="text-primary">@Model?.Count</strong> notifications.</h6>
    </div>
    <!-- List group -->
    <div class="list-group list-group-flush">
        @foreach (var notification in Model)
        {
            <a href="#!" class="list-group-item list-group-item-action">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <!-- Avatar -->
                        <img alt="Image placeholder" src="~/images/joker.png" class="avatar rounded-circle">
                    </div>
                    <div class="col ml--2">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h4 class="mb-0 text-sm">@notification.Title</h4>
                            </div>
                            <div class="text-right text-muted">
                                <small>
                                    @notification.CreatedDate.GetTime()
                                </small>
                            </div>
                        </div>
                        <p class="text-sm mb-0">@notification.Content</p>
                    </div>
                </div>
            </a>
        }
    </div>
    <!-- View all -->
    <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
</div>