@using IdentityServer4.Extensions

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a href="~/" class="navbar-brand">
                Joker
            </a>

            @if (!string.IsNullOrWhiteSpace(name))
            {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            @name <b class="caret"></b>
                        </a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </nav>
</header>