@model Joker.WebApp.ViewModels.SearchIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


<form asp-controller="Search" asp-action="Index" method="get">
    <div class="d-flex justify-content-center mb-3 bg-gradient-faded-light-vertical rounded-3">
        <div class="p-2">
            <input class="form-control form-control-lg" type="text" placeholder="Search Campaign which you like!" aria-label=".form-control-lg example" asp-for="q"/>
        </div>
        <div class="p-2">
            <input type="submit" class="btn btn-info btn-lg" value="Search"/>
        </div>
    </div>
</form>
<div>
    Search Result : @Model.Campaigns.TotalDocumentCount
    
</div>

<div class="row justify-content-center">
    @foreach (var campaign in Model.Campaigns.Documents)
    {
        <div class="card col-lg-3 m-3">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                <a href="javascript:;" class="d-block">
                    <img src="~/theme/img/anastasia.jpg" class="img-fluid border-radius-lg">
                </a>
            </div>

            <div class="card-body pt-2">
                <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">Joker</span>
                <a href="javascript:;" class="card-title h5 d-block text-darker">
                    @campaign.Title
                </a>
                <p class="card-description mb-4">
                    @campaign.Description
                </p>
                <div class="author align-items-center">
                    <img src="~/theme/img/team-2.jpg" alt="..." class="avatar shadow">
                    <div class="name ps-3">
                        <span>@campaign.StoreName</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>