<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Joker.BackOffice</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="~/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/assets/vendor/fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/argon.css" type="text/css">
</head>
<body>

<partial name="_SideNav"/>

<div class="main-content" id="panel">

<partial name="_Nav"/>


<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Tables</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Tables</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral">New</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    @RenderBody()
</div>
</div>


<script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="~/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="~/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<script src="~/assets/js/argon.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>