<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="../assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.html">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="icons.html">
                            <i class="ni ni-cart text-orange"></i>
                            <span class="nav-link-text">Stores</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="map.html">
                            <i class="ni ni-tag text-primary"></i>
                            <span class="nav-link-text">Campaigns</span>
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">User</span>
                </h6>
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://demos.creative-tim.com/argon-dashboard/docs/getting-started/overview.html"
                           target="_blank">
                            <i class="ni ni-settings-gear-65"></i>
                            <span class="nav-link-text">Account Settings</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://demos.creative-tim.com/argon-dashboard/docs/foundation/colors.html"
                           target="_blank">
                            <i class="ni ni-settings-gear-65"></i>
                            <span class="nav-link-text">Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>